body {
  display: grid;
  place-items: center;
  height: 75vh;
  margin: 0;
  padding: 0;
  background-color: #495057;
  color: #fff;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: large;
}

main {
  display: flex;
  gap: 512px;
}
.mainthing {
  text-align: left;
  margin: 50px;
}

.main .button {
  text-align: center;
}

.quotesbox {
  background-color: cyan;
  height: 32px;
}

.buildings {
  margin-top: 100px;
}

.cursorbox {
  display: flex;
  gap: 50px;
}

.cookie:hover {
  opacity: 0.8;
}
